%%-*- mode: erlang -*-

{deps, [ {calendar_ext, "0\..*", {git, "https://bitbucket.org/a12n/calendar_ext.git", "2ff0eea"}},
         {jsx, "2\..*", {git, "git://github.com/talentdeficit/jsx", {tag, "v2.7.1"}}},
         {meck, "0\..*", {git, "git://github.com/eproxus/meck", {tag, "0.8.3"}}},
         {sync, ".*", {git, "git://github.com/rustyio/sync", "475d728"}} ]}.

{clean_files, ["test/*.beam"]}.
{cover_enabled, true}.
{ct_log_dir, "test/logs"}.
{require_min_otp_vsn, "17"}.
