%%-*- mode: erlang -*-

{deps, [ {calendar_ext, {git, "https://bitbucket.org/a12n/calendar_ext.git", {ref, "2ff0eea"}}},
         {jsx, "2.8.0"} ]}.

{profiles, [{test, [{deps, [ {meck, "0.8.4"},
                             {sync, {git, "https://github.com/rustyio/sync", {ref, "9c78e7b"}}} ]}]}]}.

{clean_files, ["test/*.beam"]}.
{cover_enabled, true}.
{ct_log_dir, "test/logs"}.
{require_min_otp_vsn, "17"}.
